! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: 2017 leofa
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-normal:                   argb:0383c4a, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   argb:02d303b, #cc6666, argb:e52d303b, #a54242, #f9f9f9
! "Color scheme for active row" Set from: File
rofi.color-active:                   argb:02d303b, #b5bd68, argb:e42d303b, #8c9440, #f9f9f9
! "Color scheme window" Set from: File
rofi.color-window:                   argb:f22d303b, #7c8389, #1d1f21
! "Separator style (none, dash, solid)" Set from: XResources
rofi.separator-style:                solid

! special
*.foreground:   #a7a7a7
*.background:   #1e1e1e
*.cursorColor:  #a7a7a7

! black
*.color0:       #1e1e1e
*.color8:       #5f5a60

! red
*.color1:       #cf6a4c
*.color9:       #cf6a4c

! green
*.color2:       #8f9d6a
*.color10:      #8f9d6a

! yellow
*.color3:       #f9ee98
*.color11:      #f9ee98

! blue
*.color4:       #7587a6
*.color12:      #7587a6

! magenta
*.color5:       #9b859d
*.color13:      #9b859d

! cyan
*.color6:       #afc4db
*.color14:      #afc4db

! white
*.color7:       #a7a7a7
*.color15:      #ffffff

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt.font: xft:Source Code Pro:size=10
URxvt.letterSpace: -1
URxvt.scrollBar: false
urxvt*depth: 32
URxvt.background: [85]#2f343f
